# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# --------------- My ignore --------------------

# Ignore everything
*
# even if they are in subdirectories
!*/

# But not these files and directories
!.gitignore
!codeforces.com/*
!OCOM_IPST/TASK/*
!OCOM_IPST/SOLUTION/*
!otog.org/otog_old/*
!otog.org/OTOG_script/*
!otog.org/SOLUTION/*
!otog.org/TASK/*
!otog.org/list_task_otog.xlsx
!programing.in.th/*
!Theory/*
!Theory/Algo/*
!timus.ru/*
!TOI/TOI2/TASK/*
!TOI/TOI2/SOLUTION/*
!TOI/TOI5/TASK/*
!TOI/TOI5/SOLUTION/*
!TOI/TOI6/TASK/*
!TOI/TOI6/SOLUTION/*
!TOI/TOI7/TASK/*
!TOI/TOI7/SOLUTION/*
!TOI/TOI8/TASK/*
!TOI/TOI8/SOLUTION/*
!TOI/TOI9/TASK/*
!TOI/TOI9/SOLUTION/*
!TOI/TOI10/TASK/*
!TOI/TOI10/SOLUTION/*
!TOI/TOI11/TASK/*
!TOI/TOI11/SOLUTION/*
!TOI/TOI12/TASK/*
!TOI/TOI12/SOLUTION/*
!z-training.com/*